<div class="mt-4">
    <h3>Sửa khóa học</h3>

    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" placeholder=" ">
            <label for="name">Tên khóa học</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <textarea class="form-control" id="description" name="description" placeholder=" ">{{course.description}}</textarea>
            <label for="description">Mô tả</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" value="{{course.videoID}}" id="videoId" name="videoId" placeholder=" ">
            <label for="videoId">Video ID</label>
        </div>
        <div class="form-floating mt-3 mb-3">
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level" placeholder=" ">
            <label for="level">Trình độ</label>
        </div>
        <button type="submit" class="btn btn-primary">Lưu khóa học</button>
    </form>
</div>